<div >


    <!-- <div fxLayout="column" fxLayoutAlign="center center" style="color: white;">
        <label fxLayoutAlign="center center">Add Customer</label>
    </div> -->
<div fxLayout="column" fxLayoutAlign="center center">
    <label fxLayoutAlign="center center" style="color:#044174">Add Customer</label>
</div>

    <div fxLayout="column" fxLayoutAlign="center end" style="color: white;margin-right:20px" (click)="logout()">
        <label fxLayoutAlign="center center">Log Out</label>
    </div>

    <!-- <div fxLayout="row" fxLayoutAlign="end center" style="color: white;">
        <label>Log out</label>
        <label>Add Customer</label>
        <label>Customers</label>
    </div> -->

</div>