.SidebarOptionClass {
    width: 100%;
    /* height: 15%; */
    /* border: 1px solid blue; */
    color: #000000;
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
}

.SidebarOptionClass.active {
    border-left: 4px solid #D73C56;
    color: #D73C56 !important;
    margin-left: 2px;
    width: calc(100% - 4px);
}

.SidebarOptionClass.CustomClass {
   
    font-size: 40px;
    color: #6b6a6a;
    /* padding: 5px; */
}
.SidebarOptionClass.CustomClass.active {
   
    font-size: 40px;
    color: #D73C56 !important;
    padding: 5px;
}