<div style="width:100%;height: 100%" style="margin:15px">
    <div fxLayout="row" fxLayoutAlign="start start">

        <div fxLayout="column" style="width:50%; height:100%;">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="cl_width">
                    <mat-label>Customer Name</mat-label>
                    <select matNativeControl required #customer (change)="getCustomerDetailInfo(customer.value)"
                        [(ngModel)]="userModel.customername">
                        <option *ngFor="let type of customername" [value]="type.name"> {{type.name}}</option>
                    </select>
                </mat-form-field>


            </div>



            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="cl_width">
                    <input matInput [(ngModel)]="userModel.mobile" placeholder="Phone Number" />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="cl_width">
                    <input matInput [(ngModel)]="userModel.email" placeholder="Email" />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field class="cl_width">
                    <input matInput placeholder="Address" [(ngModel)]="userModel.address" />
                </mat-form-field>
            </div>

        </div>
        <div style="width:50%; height:100%" fxLayout="column">

            <div fxLayout="row" fxLayoutAlign="end end">
                <mat-form-field class="cl_width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput #input="ngModel" [(ngModel)]="userModel.date" [min]="minDate" [max]="today"
                        [matDatepicker]="picker" placeholder="Choose a date" [disabled]="true">
                    <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="true"></mat-datepicker-toggle>
                    <mat-datepicker #picker (selectedChanged)="onDate($event)"></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="end end">
                    <mat-form-field class="cl_width">
                        <input matInput placeholder="Purchase Order" [(ngModel)]="userModel.purchaseorder" />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="end end">
                    <mat-form-field class="cl_width">
                        <input matInput placeholder="Customer No." [(ngModel)]="userModel.customerno" />
                    </mat-form-field>
                </div> -->


        </div>


    </div>
    <div style=" border : 0.1px solid rgb(150, 147, 147)"></div>

    <h1>Add products</h1>

   
    <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:20px">

            <mat-form-field appearance="outline">
                <mat-label>Product</mat-label>
                <select matNativeControl #product (change)="getProductDetailInfo(product.value)" style="margin-top:10px"
                    [(ngModel)]="recordModel.name">
                    <option *ngFor="let type of products" [value]="type.p_name" placeholder="Product"> {{type.p_name}}</option>
                </select>
            </mat-form-field>

         
            <mat-form-field appearance="outline">
                <mat-label >Price</mat-label>
            <input [(ngModel)]="recordModel.price" (input)="totalAmount($event)" matInput
                fxLayoutAlign="end end"
                placeholder="Price" />
            </mat-form-field>
       
            <mat-form-field appearance="outline">
            <mat-label >Quantity</mat-label>
            <input matInput [(ngModel)]="recordModel.quantity" (input)="totalAmount($event)"
                fxLayoutAlign="end end"
                placeholder="Quantity" />
                </mat-form-field>
        
            <mat-form-field appearance="outline">
            <mat-label >Total Price</mat-label>
            <input [(ngModel)]="recordModel.totalprice" (input)="finalAmount($event)" matInput
                 fxLayoutAlign="end end"
                placeholder="Total Price" />
                </mat-form-field>
     
            <mat-form-field appearance="outline">
            <mat-label>GST%</mat-label>
            <input matInput [(ngModel)]="recordModel.gst" (input)="finalAmount($event)" fxLayoutAlign="end end"
                placeholder="GST" />
                </mat-form-field>
       
            <mat-form-field appearance="outline">
            <mat-label>Final Price</mat-label>
            <input [(ngModel)]="recordModel.finalprice" matInput
                fxLayoutAlign="end end" placeholder="Final Price" />
                </mat-form-field>
       


    </div>

    <div fxLayout="row" fxLayoutAlign="end end" style="margin-bottom:15px">
        <button mat-raised (click)="addMore()" style="padding:10px;cursor: pointer;">Add More</button>
    </div>
    <div *ngIf="getAllFieldsRecord.length > 0" fxLayoutAlign="center center">
        <table style="border: 1px solid grey;width:100%">
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>GST</th>
            <th>Final Price</th>
            <th>Update</th>
            <th>Delete</th>

            <tr style="border: 1px solid grey" *ngFor="let item of getAllFieldsRecord;let i = index;">
                <td align="center">{{ item.product_name }}</td>
                <td align="center">{{ item.product_price }}</td>
                <td align="center">{{ item.product_quantity }}</td>
                <td align="center">{{ item.product_total_price }}</td>
                <td align="center">{{ item.product_gst }}</td>
                <td align="center">{{ item.product_final_price }}</td>
                <td align="center" style="color:blue" (click)="updateProduct(i, item)"><u>edit</u></td>
                <td align="center" style="color:blue" (click)="deleteProduct(i)"><u>delete</u></td>
            </tr>
            <tr>
                <td align="center">Amount</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="center">{{displayFinalAmount}}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

 
</div>